<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JanHafner.Smartbar.Common.Properties.SmartbarSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JanHafner.Smartbar.Common.Properties.SmartbarSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <JanHafner.Smartbar.Common.Properties.SmartbarSettings>
            <setting name="DeleteWithConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteGroupWithMiddleMouseButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStatusbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSelectCreatedGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideGroupHeaderIfOnlyOneAvailable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestorePosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rows" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Columns" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="GridCellSpacing" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GridCellContentSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AccentColorScheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="LanguageIdentifier" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="PluginPackagesFeed" serializeAs="String">
                <value>http://smartbarpluginsfeed.azurewebsites.net/nuget</value>
            </setting>
            <setting name="DirectEditOfGroupHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SnapOnScreenEdges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationOnPluginUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationOnSmartbarUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InitialPosition" serializeAs="String">
                <value>0,0</value>
            </setting>
        </JanHafner.Smartbar.Common.Properties.SmartbarSettings>
    </userSettings>
    <applicationSettings>
        <JanHafner.Smartbar.Common.Properties.SmartbarSettings>
            <setting name="DefaultLanguageIdentifier" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="BasePluginPackagesDirectoryName" serializeAs="String">
                <value>Packages</value>
            </setting>
            <setting name="DatabaseFileName" serializeAs="String">
                <value>smartbar.json</value>
            </setting>
            <setting name="DefaultDummyGroupName" serializeAs="String">
                <value>Applications</value>
            </setting>
            <setting name="SnapOnScreenEdgesOffset" serializeAs="String">
                <value>10</value>
            </setting>
        </JanHafner.Smartbar.Common.Properties.SmartbarSettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
